.venv/
__pycache__/
.DS_Store
.ipynb_checkpoints/
*.pyc

# Ignore massive raw datasets (LFS limit)
data/sba_loans/SBAnational.csv
data/college_scorecard/College_Scorecard_Raw_Data_06032026/
data/college_scorecard/Crosswalks.zip
data/archive/
scratch/
